@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Alterar senha";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" class="form-horizontal" role="form">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.EditorFor(m => m.OldPassword, "Password")
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.EditorFor(m => m.NewPassword, "Password")
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.EditorFor(m => m.ConfirmPassword, "Password")
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="/Manage" class="btn btn-default">Voltar</a>
            <input type="submit" value="Alterar senha" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
