@using Microsoft.AspNetCore.Identity
@using Accounts.Extensions

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    @Html.AntiForgeryToken()
    
    @*
        TODO: Não está mostrando o nome do usuário
    *@

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetFullName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Minha conta", "Index", "Manage")
        </li>
        <li>
            <a href="javascript:void(0);">
                Usuário certificado: <span id="certStatus">...</span>
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
        </li>
    </ul>
    
    }
}
