@model string

<div>

    <div class="input-group">

        <span class="input-group-btn">
            <button class="btn btn-primary password-button" type="button" tabindex="-1">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </span>

        @Html.PasswordFor(m => m, new { @class = "form-control password-input", @style = "max-width: 360px;" })

    </div>

    <p class="text-danger caps-lock-warning" style="display: none;">

        O Caps Lock está ativado.

    </p>

</div>