@{
    ViewBag.Title = "Usuário bloqueado";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title</h1>
</hgroup>

<p>
    Este usuário foi bloqueado devido a múltiplas tentativas mal sucedidas de autenticação. <br />
    Utilize a função <a href="/Account/ForgotPassword">esqueci minha senha</a> para redefinir sua senha e desbloquear o usuário.
</p>