@{
    ViewBag.Title = "Confirmação de redefinição de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Sua senha foi redefinida. Acesse @Html.ActionLink("este link para logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
